<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<head>
  <style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 4px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
  </style>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 

<h1>Welcome Admin</h1>
<h2>Edit Menu</h2>

  <form>
    <table>
      <tr>
        <th>Details</th>
        <th>Cost</th>
      </tr>
      <tr ng-repeat="obj in menuItem">
        <th ng-model="rm_details">{{obj.details}}</th>
        <th>{{obj.cost}}</th>
        <th><button ng-click="delete(obj._id)">delete</button></th>
        <th><button ng-click="update(obj._id)">update</button></th>
      </tr>
      <tr>
        <th><input type="text" ng-model="details"></th>
        <th><input type="number" ng-model="cost"></th>
        <th><button ng-click="add(details, cost)">add</button></th>
      </tr>  
    </table>
  </form>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

  $scope.getMenu = function()
  {
  $http.get("/lunchBox/caterer/menu")
  .then(function(response) {
       $scope.menuItem = response.data;
       console.log(response.data);
  });
  };
  
 $scope.getMenu();
  
  $scope.add = function(details, cost){
    var parameter = JSON.stringify({details:details, cost:cost});
    $scope.cost = '';
    $scope.details = '';
    $scope.title = $scope.username;
      $http.post("/lunchBox/caterer/menu", parameter)
      .then(function(response) {
       console.log(response.data);
       $scope.getMenu();
      });    
  };
  
  
  $scope.delete = function(objectId){
    var url = '/lunchBox/caterer/menu/' + objectId;
    console.log('remove from menu:' + url);
        $http.delete(url)
    .then(function(response) {
    console.log(response.data);
    $scope.getMenu();
    }); 
  };  
  
  $scope.update = function(objectId){
    var url = '/lunchBox/caterer/menu/' + objectId;
    console.log('need to implement update: ' + url);
  };  
  
});
</script>

</body>
</html>
