<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 

<h1>Welcome to Box {{token}}</h1>

<form>
  <table>
    <tr>
      <th>User Name</th>
      <th><input type="text" ng-model="username"></th>
    </tr>
    <tr>
      <th>Password</th>
      <th><input type="password" ng-model="password"></th>
    </tr>    
    <tr>
      <th><button ng-click="signin(username, password)">SignIn</button></th>
      <th><button ng-click="register()">Register</button></th>
    </tr>     
  </table>
</form>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    
    $scope.signin = function(username, password){
      $scope.name = "signin";
      var url = '/user/auth/login';
      var parameter = JSON.stringify({username:username, password:password});
      $http.post(url, parameter).then(function(response)
      {
        console.log(response);
        $scope.token = response.data.token;
      });      
      
    };
    
    $scope.register = function(){
      $scope.name = "register";
    };     

});
</script>

</body>
</html>
