<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 

<p>Register Yourself {{title}}</p>

<form>
  <div><label>User Name </label><input type="text" ng-model="username"></div>
  <div><label>Password </label><input type="password" ng-model="password"></div>
  <div><label>Name </label><input type="text" ng-model="name"></div>
  <div><label>Contact </label><input type="number" ng-model="contact"></div>
</form>

<button ng-click="register()">Register</button>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.name = "John";
    $scope.register = function(){
    $scope.title = $scope.username
    };
});
</script>

</body>
</html>
