<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<head>
  <style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 2px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
  </style>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 

<p>Welcome {User}</p>

<p>Todays Menu</p>

<table>
  <tr>
    <th>Details</th>
    <th>Cost</th>
    <th>Quantity</th>
  </tr>
  <tr ng-repeat="obj in users">
    <th>{{obj.details}}</th>
    <th>{{obj.cost}}</th>
    <th><input type="number" ng-model="quantity"></th>
    <th><button ng-click="add()">add</button></th>
  </tr>
</table>


</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  $http.get("/lunchBox/caterer/menu")
  .then(function(response) {
       $scope.users = response.data;
       console.log(response.data);
  });
});
</script>

</body>
</html>
